* {
  box-sizing: border-box;
  font-size: 14px; }

body {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  font-family: "Helvetica Neue", Arial, sans-serif;
  position: relative;
  background: rgba(241, 241, 241, 0.7); }
  @media (min-width: 768px) {
    body {
      background: linear-gradient(white 45%, darkgrey); } }

/* link styles */
a:link {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  color: #999; }
a:hover {
  font-size: 17.5px;
  line-height: 1.5;
  color: #6633ff;
  font-family: "Helvetica Neue", Arial, sans-serif; }
a:visited {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
  font-family: "Helvetica Neue", Arial, sans-serif; }

footer a,
.main-nav a {
  text-decoration: none;
  color: #000; }
  footer a:hover,
  .main-nav a:hover {
    font-size: 17.5px;
    color: #6633ff; }
  footer a:visited,
  .main-nav a:visited {
    color: #000; }
  @media (min-width: 768px) {
    footer a,
    .main-nav a {
      font-size: 14px;
      margin-right: 0.5em; } }

/* hidden */
.hide {
  display: none; }

@media (min-width: 768px) {
  .box_shadow {
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999, 4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999; } }
@media (min-width: 1024px) {
  .name {
    float: left; }

  .border {
    border-top: solid 1px black; }

  .box_lighter:hover {
    box-shadow: 1px 1px 0px #9696C8, 2px 2px 0px #9696C8, 3px 3px 0px #9696C8, 4px 4px 0px #9696C8, 5px 5px 0px #9696C8, 6px 6px 0px #9696C8; } }
.wrapper {
  padding-left: 1em;
  padding-right: 1em; }
  @media (min-width: 768px) {
    .wrapper {
      width: 96%;
      max-width: 1250px;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 1024px) {
    .wrapper {
      width: 90%;
      max-width: 1250px; } }

@media (min-width: 768px) {
  .profile {
    margin-top: 0;
    background: linear-gradient(darkgrey, white);
    padding-top: 1em;
    padding-bottom: 10px; } }

@media (min-width: 768px) {
  .project {
    margin-bottom: 12px;
    margin-right: 1%;
    width: 48%;
    vertical-align: top;
    padding: 1em;
    display: inline-block; } }
@media (min-width: 1024px) {
  .project {
    margin-bottom: 10px;
    margin-right: 2%;
    width: 31%; } }

header {
  width: 100%;
  background-color: darkgrey; }

@media (min-width: 768px) {
  .main-nav li {
    width: auto;
    display: inline-block; } }
@media (min-width: 1024px) {
  .main-nav {
    float: right;
    padding-top: 1em; } }

footer {
  width: 100%;
  position: relative;
  padding: 0.5em;
  bottom: 0;
  background-color: darkgrey; }
  @media (min-width: 768px) {
    footer {
      margin-top: -1px; }
      footer .footer-bar {
        padding: 5em 0;
        vertical-align: top; }
      footer .footer-nav, footer .footer-nav li, footer .footer-bar h5 {
        margin: 0;
        padding: 0; }
      footer .footer-nav {
        float: right; }
      footer .back-to-top {
        display: none; } }
  @media (min-width: 1024px) {
    footer {
      margin-top: 15px;
      box-shadow: 0px -5px 5px 0px #999; } }

.eng {
  margin-bottom: 0;
  background: linear-gradient(rgba(134, 134, 230, 0.34), rgba(0, 0, 255, 0.17)); }

.tr {
  margin-top: 0;
  background: linear-gradient(rgba(255, 0, 0, 0.19), rgba(243, 160, 160, 0.26)); }

.knowledge {
  background-color: darkslateblue; }
  @media (min-width: 768px) {
    .knowledge {
      padding-top: 1em;
      margin-left: 5%;
      width: 20%;
      float: left; }
      .knowledge li {
        padding-bottom: 1em; } }

@media (min-width: 768px) {
  .hide {
    margin-top: 2em;
    float: left;
    display: inline-block; } }

.back-to-top {
  float: right; }

.footer-name-text {
  float: left; }

/* float clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.main-nav li,
.contact {
  line-height: 1.5em;
  padding: 0 2px 1em;
  width: 100%; }

@media (min-width: 768px) {
  .menu {
    padding-right: 2px; } }
@media (min-width: 1024px) {
  .main-nav li {
    font-size: 14px;
    padding-left: 2px;
    width: auto; }

  footer li {
    font-size: 14px;
    margin-left: 10px; }

  .footer-nav .menu {
    display: inline-block;
    float: right; } }
header,
footer,
.knowledge,
.project h3,
h2,
.contact {
  text-align: center; }

/* text styles */
.name h1 {
  margin-top: 0; }

.text_shadow {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25); }

@media (min-width: 768px) {
  .profile-text {
    width: 50%;
    float: left; }
    .profile-text p {
      margin: 0; } }
.content-img,
.profile-image {
  width: 100%; }

.wrapper .profile-image {
  border-radius: 50%; }
  @media (min-width: 768px) {
    .wrapper .profile-image {
      float: right;
      width: 15%; } }
@media (min-width: 1024px) {
  .wrapper .profile-image:hover {
    transform: scale(1.1) rotate(7deg); } }

.knowledge {
  padding: 1em; }

a:link, footer a,
.main-nav a {
  display: block; }

/*# sourceMappingURL=application.css.map */
