
.wrapper{
	padding-left: 1em;
	padding-right: 1em;

	@media #{$brk-narrow}{
		@include wrapper-calc(96%);
		margin-left: auto;
		margin-right: auto;
	}
	@media #{$brk-wide}{
		@include wrapper-calc(90%);		
	}
}
.profile{

	@media #{$brk-narrow}{
		margin-top: 0;		
		background:linear-gradient(darkgrey,white);
		padding-top: 1em;
		padding-bottom: 10px;
		}
}
.project{    

		@media #{$brk-narrow}{
			@include margin-width(1%,12px,48%);
			vertical-align: top;
		    padding: 1em;
		    display: inline-block;			
		}
		@media #{$brk-wide}{
			@include margin-width(2%,10px,31%);
			}
	}

