header{
	width: 100%;
	background-color: $grey;
}
.main-nav{
	@media #{$brk-narrow}{
	 li{
		width: auto;
		display: inline-block;
		}
	}
	@media #{$brk-wide}{
		float: right;
		padding-top: 1em;
	}
}
