
.main-nav li,
.contact{
	line-height: 1.5em;
	padding:0 2px 1em;
	width: 100%;
}

@media (min-width : 768px ){

	.menu{
		padding-right: 2px;
	}
}
@media (min-width : 1024px ){

	.main-nav li{
		font-size: 14px;
		padding-left: 2px;
		width: auto;
	}
	footer li{
		font-size: 14px;
		margin-left: 10px;

	}
	.footer-nav .menu{
		display: inline-block;
		float: right;
	}
}